{
    :windows-script-path "update.bat"
    :github-api-url "https://api.github.com/repos/JAremko/profedit/tags"
    :version-resource-path "version.txt"
    :download-url-pattern "https://github.com/JAremko/profedit/releases/download/%s/profedit.jar"
}
