{
    :windows-script-path "update.bat"
    :github-api-url "https://api.github.com/repos/JAremko/ArcherBC2_testing/tags"
    :version-resource-path "version.txt"
    :download-url-pattern "https://github.com/JAremko/ArcherBC2_testing/releases/download/%s/profedit.jar"
}
